<h1>Welcome to my url-shortener</h1>
<form action="/api/shorten" method="post">
    <label for="url">Shorten an URL</label><br>
    <input type="url" id="url" name="url" required><br>
    <input type="submit" value="Shorten URL">
</form>